@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

#root {
  --color-text: black;
  --color-background: radial-gradient(circle at top right, rgb(143, 246, 222),lightblue,rgb(255, 255, 255), rgb(38, 45, 255));
  --alt-color-text: rgba(0, 0, 0, 0.662);
  --button-color: 0, 0, 0;
  --button-text: lightblue;
  --border-color: rgb(0, 38, 255);

  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-text);
  background: var(--color-background);
  background-attachment: fixed;
}

#root.dark {
  --color-background: radial-gradient(circle at bottom left, rgb(100, 0, 100), darkblue, black);
  --color-text: white;
  --alt-color-text: #ff9e9e;
  --button-color: 255, 255, 255;
  --button-text: black;
  --border-color: lightblue;
}

.alt-text {
  color: var(--alt-color-text);
}

.button-wrapper {
  position: absolute;
  top: 1px;
}

.theme-button {
  background-color: rgba(var(--button-color), 0.5);
  font-size: 8pt;
  font-family: IBM Plex Sans;
  color: var(--button-text);
  border-radius: 2;
  padding: 1px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: IBM Plex Sans;
}

.app-title {
  font-family: IBM Plex Sans;
  font-size: 10vmin;
  margin: 0.25em;
}

.contact-info {
  display: flex;
  flex-direction: row;
  width: 70vw;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.contact-info a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  font-size: 1.5vmin;
  margin: 1rem;
  width: 20vw;
  height: 20vw;
}

.contact-logo {
  max-width: 5rem;
}

.contact-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  display: flex;
  flex-direction: column;
  width: 98%;
  border-radius: 10px;
  background: #eeeeee25;
  box-shadow: 2px -2px 5px -2px var(--border-color);
}

.project-header {
  margin-top: .25em;
  margin-bottom: .25em;
}

.project {
  margin: .5em;
  margin-bottom: 2em;
  padding: 2px 6px 0px 2px;
  border: 1px solid var(--button-color);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2)
}
.project p {
  margin: .5em;
}
.picture-frame {
  align-items: center;
  justify-content: center;
}
.picture-of-the-day {
  width: 100%;
}

.picture-title {
  font-family: fantasy;
  margin-top: .5em;
  padding-top: 1em;
  margin-bottom: 0;
  background-color: rgba(var(--button-color), 0.1);  
  border-radius: 10px 10px 0 0;
}

.explanation {
  margin-top: 0;
  background-color: rgba(var(--button-color), 0.1);
  border-radius: 0 0 10px 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.reference {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-small;
}

@media (prefers-reduced-motion: no-preference) {}