@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500&display=swap');
@font-face {
  font-family:open-dyslexic;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:local('Open-Dyslexic'),url(https://fonts.cdnfonts.com/s/29616/open-dyslexic.woff) format('woff');
}


#root {
  --color-text: black;
  --color-background: radial-gradient(circle at bottom center, rgb(143, 246, 222), lightblue, rgb(255, 255, 255), rgb(95, 100, 255));
  --alt-color-text: rgb(55, 0, 33);
  --button-color: 0, 0, 0;
  --button-text: lightblue;
  --border-color: rgb(0, 38, 255);
  --background-gradient: 255, 255, 255;
  width: 100vw;
  margin: 0;
  text-align: center;
}

#root.dark {
  --color-background: radial-gradient(circle at bottom center, rgb(100, 0, 100), rgb(50, 0, 75), rgb(0, 0, 100), black);
  --color-text: rgb(255, 225, 250);
  --alt-color-text: rgb(255, 226, 200);
  --button-color: 255, 255, 255;
  --button-text: black;
  --border-color: lightblue;
  --background-gradient: 0, 0, 0;
}

.background {
  background: var(--color-background);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: open-dyslexic, Arial, Helvetica, sans-serif;
  padding: 2rem;
  color: var(--color-text);
  box-sizing: border-box;
}

.app a {
  font-weight: 600;
  color: var(--alt-color-text);
}

.app a:visited {
  color: var(--color-text);
}

.app a:hover {
  color: hotpink;
}

.svg {
  width: 60vw;
  max-width: 1200px;
}

.alt-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  color: var(--alt-color-text);
}

.grey-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  color: var(--color-text);
}

.alt-text ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me h2 {
  margin-bottom: 0;
}

.about-me {
  align-items: center;
  margin-top: 0;
}

.about-me-list {
  font-family: open-dyslexic, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-position: outside;
  list-style: none;
}

.about-me-list a {
  text-decoration: var(--alt-color-text) underline .5px;
}

@media only screen and (max-width: 800px) {
  .about-me-list {
    align-items: flex-start;
  }
}

.about-me-list li {
  text-align: start;
  padding-bottom: .5em;
}

.button-wrapper {
  position: absolute;
  top: 1px;
  right: 6px;
}

.theme-button {
  background-color: rgba(var(--button-color), 0.6);
  font-size: 8pt;
  font-weight: 600;
  font-family: Poppins;
  color: var(--button-text);
  border: none;
  border-radius: 2px;
  box-shadow: 1px -1px 3px -1px var(--border-color), -1px 1px 3px -1px var(--alt-color-text);
  padding: 2px;
}

.theme-button:active {
  transform: translateY(4px);
}

.git-link {
  height: 1rem;
  max-height: 24px;
  width: 1rem;
}
.bffa-icon {
  height: 1rem;
  width: 1rem;
}

.app-title {
  font-family: IBM Plex sans;
  font-size: 10vmin;
  margin: 0.25em;
}

.tag-line {
  margin: 0;
  font-size: 3vmax;
  font-family: Lexend;
  font-weight: 400;
}

.empathetech-tag-line {
  margin: 0;
  font-size: 3vmax;
  font-family: Amatic SC;
  font-weight: 400;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  max-width: 80vw;
}

.contact-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  font-size: 1.5vmin;
  margin: 1.5rem;
  flex: 1 1 0;
}

.contact-link:before {
  display: block;
  padding-top: 100%;

}

.contact-logo {
  height: 100%;
  width: 100%;
  min-width: 60px;
  max-width: 100px;
  max-height: 100px;
}

.contact-logo:hover {
  filter: drop-shadow(0 0 2em var(--border-color));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  border-radius: 10px;
  background: rgba(var(--background-gradient), .3);
  box-shadow: 2px -2px 5px -2px var(--border-color), -2px 2px 5px -2px var(--alt-color-text);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5em;
}

.explanation {
  font-family: Lexend;
  margin-top: 0;
  padding: 1em;
  max-width: 60vw;
}

.image {
  width: 1200px;
  max-width: 70vw;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px -1px 3px -1px var(--border-color), -1px 1px 3px -1px var(--alt-color-text);
}

.logo {
  height: 5em;
  max-height: 100px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--border-color));
}

.project-header {
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 5vmax;
  font-family: Amatic SC;
  text-decoration: var(--alt-color-text) underline 1px;
  font-weight: 700;
}

.project {
  scroll-snap-align: center;
  margin: .5em;
  margin-bottom: 2em;
  padding: 2px 6px 0px 2px;
  border: 1px solid var(--button-color);
  box-shadow: 1px -1px 2px -1px var(--border-color), -1px 1px 2px -1px var(--alt-color-text);
  border-radius: 10px;
  background-color: rgba(var(--background-gradient), .3);
}

.project-list {
  margin: .5em 0 .5em 0;
  list-style: none;
  padding: 0;
}

.project-list li {
  margin: .5em 0 .5em 0;
}

.project p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.project-title {
  font-family: Lexend;
  font-size: 1.5em;
}

.picture-frame {
  align-items: center;
  justify-content: center;
  width: 98%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .25em;
  border-radius: 10px;
  background: rgba(var(--background-gradient), .3);
  box-shadow: 2px -2px 5px -2px var(--border-color), -2px 2px 5px -2px var(--alt-color-text);
}
.picture-of-the-day {
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
}

.picture {
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
}

.picture-title {
  margin-top: .5em;
  padding-top: 1em;
  font-family: Amatic SC;
}

.picture-text {
  background-color: rgba(var(--background-gradient), .6);
  border-radius: 10px;
}

.reference {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-small;
}

.resume {
  height: 100px;
  max-width: 75px;
}

.resume-logo {
  width: 100%;
}

.resume-logo:hover {
  filter: drop-shadow(0 0 2em var(--border-color));
}

.footer {
  color: var(--alt-color-text);
  font-size: x-small;
}

@media (prefers-reduced-motion: no-preference) {
  .animate {
    animation-duration: 0.75s;
    animation-delay: 0.2s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
  }

  .animate.glow {
    animation-name: animate-glow;
    animation-timing-function: ease;
  }

  @keyframes animate-glow {
    0% {
      opacity: 0;
      filter: brightness(3) saturate(3);
      transform: scale(0.8, 0.8);
    }

    100% {
      opacity: 1;
      filter: brightness(1) saturate(1);
      transform: scale(1, 1);
    }
  }

  .wiggle {
    animation-name: wiggle;
    animation-duration: 0.75s;
    animation-timing-function: ease;
  }

  .slide-right {
    animation-name: cd-bounce-right;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }

  .slide-left {
    animation-name: cd-bounce-left;
    animation-duration: 0.8s;
    animation-timing-function: ease;
  }

  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

  @keyframes cd-bounce-right {
    0% {
      opacity: .2;
      transform: translateX(-200px);
    }
    60% {
      opacity: .7;
      transform: translateX(15px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes cd-bounce-left {
    0% {
      opacity: .2;
      transform: translateX(200px);
    }
    60% {
      opacity: .7;
      transform: translateX(-15px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .delay-1 {
    animation-delay: 0.1s;
  }

  .delay-2 {
    animation-delay: 0.2s;
  }

  .delay-3 {
    animation-delay: 0.3s;
  }

  .delay-4 {
    animation-delay: 0.4s;
  }

  .delay-5 {
    animation-delay: 0.5s;
  }
  .delay-6 {
    animation-delay: 0.6s;
  }
  .delay-7 {
    animation-delay: 0.7s;
  }
  .delay-8 {
    animation-delay: 0.8s;
  }
  .delay-9 {
    animation-delay: 0.9s;
  }
  .delay-10 {
    animation-delay: 1.0s;
  }
}