#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: radial-gradient(circle at bottom left,rgb(100, 0, 100) 5%,darkblue, black);
  background-attachment: fixed;
}

.app {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.app-title {
  font-family: monospace;
}
.contact-info {
  display:flex;
  flex-direction: row;
  width: 70vw;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

}
.contact-info a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  font-size: 1.5vmin;
  margin: 1rem;
  width: 20vw;
  height: 20vw;
}
.contact-logo {
  max-width: 5rem;
}
.contact-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.picture-of-the-day {
  max-width: 80vw;
  height: auto;
}
.picture-title {
  font-family: fantasy;
}
.explanation {
  font-family: monospace;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.reference {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-small;
}

@media (prefers-reduced-motion: no-preference) {

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
